<div class="row w-100   bg-light mt-3">
  <div class="col-sm  mx-auto  "><img src="./../../../assets/mobile_phones@2x.png" class="img-fluid mb-2 " alt=""></div>
  <div class="col-sm  mx-auto  ">
    <p class=" text-center align-bottom   mt-5">This is a longer card with supporting text below as a natural
      lead-in
      to
      additional content,This is a longer card with supporting</p>
    <div class="row mx-auto  mt-5">
      <button type="button" class="btn bg-transparent border-dark btn-lg col col-4 w-100 mx-auto "><img src="./.././../../assets/ic_available_google_play_normal@2x.png"
          class=" w-100 img-fluid" alt=""></button>
      <button type="button" class="btn bg-transparent border-dark  btn-lg col col-4 w-100  mx-auto     "><img src="./../../../assets/ic_available_app_store_norml@2x.png"
          class="w-100 img-fluid" alt=""></button>
      <div class="row  w-100  ">
        <button type="button" class="  btn btn-danger border-danger col   col-6 mx-auto    w-100 mt-5  mb-2     ">iReserve</button>
      </div>
    </div>

  </div>
</div>
