<div class="bag">

  <img src="assets\logo_slider_home@2x.png" class="log  " alt="">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item mx-auto ">
          <a class="nav-link text-light " href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link text-light" href="#">Features</a>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link text-light" href="#">Pricing</a>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link text-light " href="#">Disabled</a>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link text-light " href="#">Disabled</a>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link text-light " href="#">Disabled</a>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link text-light " href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="mx-auto text-center   ">

      <h4 class="tit1 mx-auto">Pamper Yourself Pretty</h4>
      <p class="tit  mx-auto"> MyCalmBeat works by increasing your heart rate variability through slow breathing
        MyCalmBeat first calculates your personal best breathing rate where you are most calm,
        and then gives you tools to train by breathing at that rate.
      </p>
      <button type="button" class=" btn btn-outline-secondary border-light text-light mt-3 w-25 p-2">I
        Reserve</button>


    </div>

    <div class="to">

    </div>
  </div>


