<div class="container-fluid ">

    <div id="myCarousel" class="carousel slide bg-light" data-ride="carousel">
      <div class="carousel-inner row w-75 mt-3  mx-auto bg-transparent" >

        <div *ngFor="let date of dates; let i = index" class="carousel-item mb-4  col-md-4 {{activeDiv(i)}}">
            <div class="card text-center">
            <img class="card-img-top img-fluid" src="http://{{date.imagePath}}" alt="Card image cap">
            <div class="card-body bg-light ">

              <h4 class="card-title text-center">{{date.label}}</h4>
              <div *ngIf="i!=4">
              <p class="card-text text-center "*ngFor="let date of date.Services; let i = index">{{date.label_service}}</p>

            </div>
            <div *ngIf="i===4">
              <p class="card-text text-center "*ngFor="let date of date.subCategories; let i = index">{{date.label}}</p>

            </div>
           </div>
          </div>

      </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
