.page3

  {
    background: url(././../../assets/news_letter_background_image_home@2x.png) no-repeat center top;
    min-height: 400px;
    width: 100%;
 background-attachment: relative;
 background-position: center center;

 -webkit-background-size: 100%;
 -moz-background-size: 100%;
 -o-background-size: 100%;
 background-size: 100%;

 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}
